@font-face {
  font-family: "Gamegirl";
  src: url("../assets/_fonts/Gamegirl.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Aldrich|Press+Start+2P');
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* font-family: 'modes', "Courier", monospace; */
  /* font-family: 'Anonymous Pro', "Courier", monospace; */
  /* font-family: 'Press Start 2P', "Courier", monospace; */
  font-family: "Aldrich", "Courier", monospace;
  /* font-family: "Share Tech Mono", "Courier", monospace; */
  font-size: 20px;
  /* letter-spacing: 3px; */
  line-height: 1.5;
  text-align: center;
  color: #00ff00;
  /* background: linear-gradient(to bottom right, black, green); */
  /* background-image: url(../assets/bg_staticGrid_0.png); */
  background-image: url(../assets/backgrounds/bg_staticGrid_0.png);
  background-color: black;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

#aboutBody {
  overflow-y: scroll;
  font-size: 16px;
  text-align: justify;
  /* color: #00ff50; */
}

#homePage {
  background-image: url(../assets/backgrounds/bg_recedingGrid.png);
  background-position: center;
}

.splashyBack {
  /* align-self: flex-end; */
  max-width: 300px;
  padding: 50px;
  position: absolute;
  top: 0;
  right: 0;
  color: #00ff50;
  background: url(../assets/backgrounds/alertBoxBack.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 10;
}

.splashyText {
  max-width: 170px;
  /* margin: 10px;
  padding: 10px; */
}

a {
  text-decoration: none;
  border-bottom: none;
  /*display: block;*/
}



/* all inputs */

input, textarea {
  border-color: #00ff00;
  border-style: ridge;
  background: #000;
  color: #75c155;
  outline-color: #aeff00;
}


/* jscolor class */

.jscolor {
  padding: 10px;
  border-color: #00ff00;
  border-style: ridge;
}

#divMenu1, #divMenu2, #divMenu3, #divMenu4, #divMenu5, #divMenu6, #careMenu, #releaseWordsMenu, #setIntentionMenu, #gameMenu, #gameIntroOverlay, #pointsOverlay, #gameEndOverlay, #timer, #pointStats {
  display: none;
}

#releaseWordsMenu, #setIntentionMenu {
  font-size: 14px;
}

#setIntentionMenu label {
  font-family: 'Courier New', 'Courier';
}

#releaseWordsMenu label {
  font-family: 'Courier New', 'Courier';
}

#releaseWordsMenu button {

  color: #ACD02D;
  background-color: #161616;
  border: 1px solid #ACD02D;
  text-align: center;
  font-family: "Aldrich", "Courier", monospace;
  font-size: 16px;
  line-height: 1.8;
  padding: .3em;
  margin-top: 15px;
}

#setIntentionMenu button {
  color: #ACD02D;
  background-color: #161616;
  border: 1px solid #ACD02D;
  text-align: center;
  font-family: "Aldrich", "Courier", monospace;
  font-size: 16px;
  line-height: 1.8;
  padding: .3em;
  margin-top: 15px;
}

#releaseWordsMenu textarea {
  display: block;
  width: 94.5%;
  font-size: 16px;
}

#setIntentionMenu textarea {
  display: block;
  width: 94.5%;
  font-size: 16px;
}

#alertMenu {
  display: none;
}

#gameArea {
  width: 1200px;
  height: 675px;
  padding: 20px;
  /* disable highlights on text bc they trigger from clicks in game play*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#leftColumn {
  width: 610px;
  height: 675px;
  margin: auto;
}

#canvasDiv {
  position: relative;
}

#rightColumn {
  width: 400px;
  height: 530px;
  margin: 20px auto auto 10px;
  padding: 20px;
}

#traumagotchiTitle {
  max-height: 75px;
  max-width: 600px;
}

#menuTitle, #releaseWordsMenuTitle, #setIntentionMenuTitle {
  outline: none;
  text-align: center;
  background-color: #ACD02D !important;
}

#consoleDiv {
  margin: 20px auto;
  width: 610px;
  height: 130px;
  text-align: left;
}

canvas {
  /* margin: auto; */
}

#blackTransTextDiv {
  max-width: 800px;
  background-color: rgba(0, 0, 0, 0.7);
  border-color: #00ff00;
  border-style: ridge;
  padding: 10px;
  font-family: 'Courier New', 'Courier';
}

.gameCanvas {
  border: 5px solid #00ff00;
  outline-offset: -5px;
  /* width and height are set to fill parent div */
  /* width: 100%;
  height: auto; */
  position: absolute;
  left: 0px;
  top: 0px;
  /* width: 600px;
  height: 450px; */
}

#gameIntroOverlay, #gameEndOverlay {
  font-family: 'Gamegirl', 'Press Start 2P', 'Aldrich', "Courier", monospace;
  width: 600px;
  height: 450px;
  position: absolute;
  left: 0px;
  top: 0px;
}

#pointsOverlay {
  z-index: 11;
  font-family: 'Gamegirl', 'Press Start 2P', 'Aldrich', "Courier", monospace;
  text-align: right;
  width: 100px;
  height: 80px;
  position: absolute;
  right: 7px;
  top: 7px;
  /* background-color: #000; */
}

#canvasDiv h1, p {
  text-shadow: 2px 2px #000;
}

#pointsOverlay * {
  margin: 0;
  padding: 0;
}

#pointsOverlay p {
  font-size: 16px;
}

#pointsOverlay h1 {
  font-size: 28px;
}

#gameIntroOverlay {
  z-index: 12;
}

#gameEndOverlay {
  z-index: 11;
}

#finalScore {
  margin: 150px auto auto auto;
}

#gameTitle {
  margin: 40px auto auto auto;
}

#customizationOverlayTitle {
  position: relative;
  margin: 25% auto;
}

#playButton {
  position: absolute;
  top: 200px;
  left: 280px;
  /* margin: 220px auto auto auto; */
}

#playInstructions {
  max-width: 500px;
  margin: 200px auto auto auto;
}

#collapseGame {
  z-index: 1;
}

#canvasFullScreen {
  /* sets canvas to be aligned to top right of screen
  position absolute will stop it from scrolling */
  margin: auto;
  top: 0;
  left: 0;
  position: absolute;
  /* uncomment next line to position the canvas BEHIND the HTML */
  z-index: -1;
}

#header {
  padding: 30px 0 0 0;
  margin: 0;
}

#consoleText {
  font-size: 16px;
  font-family: 'Courier New', 'Courier';
}


/* width */

::-webkit-scrollbar {
  width: 7px;
}


/* Track */

::-webkit-scrollbar-track {
  background: #333333;
}


/* Handle */

::-webkit-scrollbar-thumb {
  background: #00ff00;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #00ff00;
}

.consoleDiv a {
  color: #00ff00;
  background-color: #00aa00;
  /* color: #000000;
  background-color: #00ff00; */
}

#consoleNext:hover {
  color: #00ff00;
  background-color: #00aa00;
  cursor: pointer;
}


/* menu at top right with login status */

.topMenu {
  list-style-type: none;
  text-align: right;
  right: 0px;
  top: -65px;
  font-size: 20px;
  z-index: 2;
  position: relative;
}


/* choices on homepage: load or new traumagotchi */

.homepageLink {
  /* font-family: "Share Tech Mono", "Courier", monospace; */
  /* font-family: "Press Start 2P", "Courier", monospace; */
  /* font-family: "Nosifer", "Courier", monospace; */
  text-align: center;
  font-size: 24px;
  line-height: 1.8;
  padding: .5em;
  /* display: block */
}

.greenLink {
  color: #00ff00;
  background-color: #161616;
  /* padding: .5em .5em .5em 1.5em; */
}

.greenLink:hover {
  background-color: #00ff00;
  color: #161616;
  padding: .5em .5em .5em 1.5em;
}

.chartreuseLink {
  color: #ACD02D;
  background-color: #161616;
  /* padding: .5em .5em .5em 1.5em;} */
}

.chartreuseLink:hover {
  background-color: #ACD02D;
  color: #161616;
  padding: .5em .5em .5em 1.5em;
}

.highlighterLink {
  color: #00ff50;
  background-color: #161616;
  /* padding: .5em .5em .5em 1.5em; */
}

.highlighterLink:hover {
  background-color: #00ff50;
  color: #161616;
  padding: .5em .5em .5em 1.5em;
}

.backLink {
  color: #00ff00;
  /* background-color: #161616; */
  text-align: center;
  font-size: 20px;
  line-height: 1.8;
  padding: .5em;
  /* padding: .5em .5em .5em 1.5em; */
}

.backLink:hover {
  background-color: #00ff00;
  color: #161616;
  padding: .5em .5em .5em 1.5em;
}


/* customization of new traumagotchi */

.customizationMenu .slider {
  display: block;
  margin: auto;
}

.customizationMenu p {
  padding-top: 15px;
}


/* for radio button images */

label>input {
  /* HIDE RADIO */
  visibility: hidden;
  /* Makes input not-clickable */
  position: absolute;
  /* Remove input from document flow */
}

label>input+img {
  /* IMAGE STYLES */
  cursor: pointer;
  border: 2px solid transparent;
}

label>input:checked+img {
  /* (RADIO CHECKED) IMAGE STYLES */
  border: 2px solid #7fff00;
}

.customizationMenu button {
  /* width: 80px; */
  /* width: 100%; */
  color: #ACD02D;
  background-color: #161616;
  /* -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; */
  border: 1px solid #ACD02D;
  text-align: center;
  font-family: "Aldrich", "Courier", monospace;
  font-size: 20px;
  line-height: 1.8;
  padding: .4em;
  margin-top: 30px;
}

#castCircleButtons button {
  margin-top: 0;
  font-size: 24px;
  width: 100px;
  background-image: url(../assets/charms/charm_arrow.png);
  background-repeat: no-repeat;
  padding: .1em;
}

.blackDiv {
  background-color: #161616;
  padding: .5em;
}

.greenDiv {
  background-color: #ACD02D;
  color: #161616;
  padding: 1em;
}

.buttonMenu>button {
  display: block;
  /* width: 250px; */
  width: 100%;
  color: #ACD02D;
  background-color: #161616;
  /* -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; */
  border: none;
  text-align: left;
  font-family: "Aldrich", "Courier", monospace;
  font-size: 20px;
  line-height: 1.8;
  padding: .5em;
}

.buttonMenu>button:hover {
  background-color: #ACD02D;
  color: #161616;
  /* padding: .5em .5em .5em 1.5em; */
}

button {
  background-color: #ACD02D;
  color: #161616;
  padding: .5em .5em .5em 1.5em;
  outline-color: #aeff00;
}

button:hover {
  cursor: pointer;
}


#login, #saveTgotchi, #playButton, #saveTgotchiShape, #saveProcessor, #saveCharm, #savePassword, #nowPlay {
  border-color: #7fff00 #ACD02D #00aa00;
  background-color: #ACD02D;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  font-family: 'Press Start 2P', 'Aldrich', "Courier", monospace;
  text-transform: uppercase;
  color: #161616;
  line-height: 1em;
}

#login:hover, #saveTgotchi:hover, #playButton:hover, #saveTgotchiShape:hover, #saveProcessor:hover, #saveCharm:hover, #savePassword:hover, #nowPlay:hover {
  background-color: #aeff00;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#processorRadio {
  font-size: 16px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.center {
  margin: auto;
  padding: auto;
}


/* changes the placeholder text for inputs */

::placeholder {
  color: #75c155;
  opacity: 1;
}


/* text input background */

#name, #passwordInput, #userInputField {
  background-color: #161616;
  padding: 10px;
}


/*check box in new.html creation */

.myCheckbox input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: #acd02d;
  cursor: pointer;
  border: 1px;
  border-radius: 1.5px;
  border-style: groove;
  border-color: #7fff00 #ACD02D #00aa00;
  ;
}

.myCheckbox:hover input~.checkmark {
  background-color: #Aeff00;
}

.myCheckbox input:checked~.checkmark {
  background-color: #Aeff00;
}


/* if you want to include an image in replace of the checkmark*/

.myCheckbox input:checked~span {
  background: url("../assets/image/check.png");
}


/*check box in play.html creation */


/* #communityCheckboxes input {
  position: absolute;
  opacity: 0;
}


#communityCheckboxes:hover input~.checkmark {
  background-color: #Aeff00;
}

#communityCheckboxes input:checked~.checkmark {
  background-color: #Aeff00;
}


#communityCheckboxes input:checked~span {
  background: url("../assets/image/check.png");
} */


/* new custome slider */

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 50%;
  height: 2px;
  background: #161616;
  padding: none !important;
  border-color: #ACD02D;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  border: 1px solid #Aeff00;
  height: 20px;
  width: 10px;
  border-radius: 1px;
  background: #00ff00;
  cursor: pointer;
  margin-top: -2px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #ACD02D, 1px 1px 1px #000000;
  /* Add cool effects to your sliders! */
}


/* match media for large screens */

@media (min-width: 500px) and (min-height: 500px) {
  #gameArea {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin-top: none !important;
    padding-top: 100px;
  }
  .homepageLink {
    font-size: 30px;
  }
}

a {
  outline: none;
}


/* temporary solution to remove text from color pickers input */

#colorPickerPixel {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

#colorPickerBackground {
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
}

#fakeBackground {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  background: url(../assets/backgrounds/bg_staticGrid_0.png);
  background-color: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  animation: none;
  /* -webkit-transition: opacity 10s ease-in-out;
    -moz-transition: opacity 10s ease-in-out;
    -o-transition: opacity 10s ease-in-out;
    transition: opacity 10s ease-in-out; */
  /* transition: background-color 1s ease-in-out;
   -webkit-transition: background-color 1s ease-in-out;
   -moz-transition: background-color 1s ease-in-out;
   -ms-transition: background-color 1s ease-in-out;
   -o-transition: background-color 1s ease-in-out; */
}

@keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeout {
  from {
    opacity: 1
  }
  to {
    opacity: 0
  }
}
