html {
  height: 100%;
}

body {
  margin: 50px 50px 50px 7%;
  padding: 0;
  height: 100%;
  font-family: "Anonymous Pro", "Courier", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  text-align: center;
  color: #00ff00;
  background: linear-gradient(to bottom right, black, green);
  /* background-color: #82847b; */
  display: flex;
  flex-direction: column;
}

canvas {
  margin: auto;
  border: 5px solid #00ff00;
  /* uncomment lines below if you want your canvas to cover the whole page
  you will also have to create canvas to the window dimensions
  in your p5 sketch, use: createCanvas(windowWidth, windowHeight); */
  /* top: 0;
  left: 0;
  position: absolute; */
}

#canvasDiv {}

#bgCanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  /* z-index: -2; */
}

/* flexbox containers for project gallery */

.container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  /* color: #161616; */
  /* background-color: rgba(255, 255, 255, 0.15); */ */
  padding: 20px;
  margin: 30px 10px 30px 10px;
  align-content: flex-start;
  align-items: center;
  justify-content: space-around;
}

/* .container * {
  padding: 5px;
} */

/* .container p {
  padding: 0, 55px, 0, 15px;
} */

/* ?? when using this? */
.container-column {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
  /* color: #fff;
  background-color: rgba(255, 255, 255, 0.15); */
  padding: 20px;
  margin: 10px 10px 20px 10px;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-around;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.full {
  width: 100%;
  /* IE */
  flex: 0 1 100%;
}

.two-thirds {
  width: 65%;
  /* IE */
  flex: 1 1 calc(66% - 25px);
}

.half {
  width: 49%;
  /* IE */
  flex: 1 2 420px;
}

.third {
  width: 32.2%;
  /* IE */
  flex: 1 1 calc(33.333333% - 25px);
}

.fourth {
  width: 24%;
  /* IE */
  flex: 0 1 calc(25% - 25px);
}

.fifth {
  width: 19.5%;
  /* IE */
  flex: 0 1 calc(20% - 25px);
}

.sixth {
  width: 15.7%;
  /* IE */
  flex: 0 1 calc(16.666666% - 25px);
}

.two-thirds-fixed {
  width: 65%;
  /* IE */
  flex: 0 1 calc(66% - 25px);
}

.half-fixed {
  width: 49%;
  /* IE */
  flex: 0 2 calc(50% - 25px);
}

.third-fixed {
  width: 32.2%;
  /* IE */
  flex: 0 1 calc(33.333333% - 25px);
}

.fourth-fixed {
  width: 24%;
  /* IE */
  flex: 0 1 calc(25% - 25px);
}

.fifth-fixed {
  width: 19.5%;
  /* IE */
  flex: 0 1 calc(20% - 25px);
}

.sixth-fixed {
  width: 15.7%;
  /* IE */
  flex: 0 1 calc(16.666666% - 25px);
}

.image {
  width: 100%;
  height: auto;
}

.align-right {
  justify-content: flex-end;
  align-self: flex-end;
}

.margin-bottom {
  margin-bottom: 50px;
}


/*flexbox for setting sticky footer*/

.main-content {
  /* By setting flex-grow to 1, the main content will take up
     all of the remaining space on the page.
     The other elements have flex-grow: 0 and won't contest the free space. */
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}

footer {
  /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
  align-self: flex-end;
  width: 100%;
  text-align: right;
  padding: 10px 10px 10px 0px;
  font-size: 12px;
}
